* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  text-align: center;
}

.header-container {
  background-color: rgb(230, 196, 61);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 1rem 1rem;
}
.header-container .brand-container .logo {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
.header-container .nav-bar-toggle {
  text-align: center;
}
.header-container .nav-bar-toggle .nav-bar-toggler {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  background-color: white;
}
.header-container .navBar-collapse {
  text-align: center;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.header-container .navBar-collapse ul .nav-bar-list {
  padding: 5px 0;
  letter-spacing: 2.5px;
  list-style-type: none;
  display: block;
  width: 100%;
}
.header-container .navBar-collapse ul .nav-bar-list .nav-bar-link {
  color: black;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.7;
  border-bottom: 0.5px solid black;
  padding: 3px 0;
}
.header-container .show-navbar {
  height: 200px;
}
.header-container .cart {
  position: relative;
  text-align: center;
}
.header-container .cart .cart-btn {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  background-color: white;
}
.header-container .cart .cart-btn .bi-cart {
  text-align: center;
}
.header-container .cart .cart-btn .cart-count-info {
  position: absolute;
  top: 0;
  font-size: 1rem;
  background-color: antiquewhite;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.header-container .show-shopping-cart-container {
  display: block;
  height: 200px;
  z-index: 999;
}
.header-container .shopping-cart-container {
  position: absolute;
  top: 12%;
  right: 26.5%;
  width: 750px;
  transform: translateX(50%);
  transition: all ease-in-out 0.5s;
  display: none;
  border-radius: 10px;
  border: 0.5px solid black;
}
.header-container .shopping-cart-container .shopping-cart-info {
  display: block;
  border-bottom: 0.5px solid black;
  background-color: antiquewhite;
  padding: 0.7rem;
}
.header-container .shopping-cart-container .shopping-cart-info .shopping-cart-title {
  font-weight: 600;
  font-size: 1rem;
}
.header-container .shopping-cart-container .cart-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-bottom: 0.5px solid black;
  background-color: white;
}
.header-container .shopping-cart-container .cart-item .iphone-img {
  margin: 0 0.5rem;
}
.header-container .shopping-cart-container .cart-item .iphone-img img {
  height: 100px;
  border-radius: 10px;
}
.header-container .shopping-cart-container .cart-item .cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header-container .shopping-cart-container .cart-item .cart-item-info .item-title {
  font-weight: 600;
  text-decoration: underline;
  padding: 5px 0;
  letter-spacing: 1px;
}
.header-container .shopping-cart-container .cart-item .cart-item-info .item-description1, .header-container .shopping-cart-container .cart-item .cart-item-info .item-description2, .header-container .shopping-cart-container .cart-item .cart-item-info .item-description3 {
  font-size: 0.7rem;
  padding: 0 1rem;
  font-weight: 600;
}
.header-container .shopping-cart-container .cart-item .cart-item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 0 2rem;
}
.header-container .shopping-cart-container .cart-item .cart-item-price .item-price {
  padding: 1rem 3rem;
}
.header-container .shopping-cart-container .cart-item-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
}
.header-container .shopping-cart-container .cart-item-quantity .item-add-btn, .header-container .shopping-cart-container .cart-item-quantity .item-reduce-btn {
  width: 30px;
  height: 23px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  border-radius: 10px;
  background: none;
  border: none;
}
.header-container .shopping-cart-container .cart-item-quantity .item-inputBox {
  width: 30px;
  height: 20px;
  margin: 0.1rem 0;
}
.header-container .shopping-cart-container .item-delete-container {
  position: absolute;
  top: 35%;
  right: 2%;
}
.header-container .shopping-cart-container .item-delete-container .item-delete-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}
.header-container .shopping-cart-container .item-delete-container .item-delete-btn .bi-bag-x-fill {
  width: 30px;
  height: 23px;
  text-align: center;
  margin: 0.1rem 0;
  font-size: 1.5rem;
  color: black;
  border-radius: 10px;
}
.header-container .shopping-cart-container .item-total-cost {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 0.5px solid black;
  background-color: antiquewhite;
  padding: 0.5rem 0.5rem;
}
.header-container .shopping-cart-container .item-total-cost .item-tex, .header-container .shopping-cart-container .item-total-cost .item-shipping-cost, .header-container .shopping-cart-container .item-total-cost .total-cost {
  font-size: 0.8rem;
  text-align: start;
  margin-left: 82%;
}
.header-container .shopping-cart-container .item-total-cost .item-tex span, .header-container .shopping-cart-container .item-total-cost .item-shipping-cost span, .header-container .shopping-cart-container .item-total-cost .total-cost span {
  float: right;
}

.iphone-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.iphone-container .item-iphone {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border: 0.5px solid black;
  border-radius: 10px;
}
.iphone-container .item-iphone .iphone-img {
  padding: 0.5rem;
}
.iphone-container .item-iphone .iphone-img img {
  border-radius: 10px;
  height: 230px;
}
.iphone-container .item-iphone .iphone-item-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 40px;
  margin: 3px 0;
}
.iphone-container .item-iphone .iphone-item-info .iphone-title {
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  text-decoration: underline;
  color: rgb(90, 90, 90);
}
.iphone-container .item-iphone .iphone-item-info .iphone-description1, .iphone-container .item-iphone .iphone-item-info .iphone-description2, .iphone-container .item-iphone .iphone-item-info .iphone-description3, .iphone-container .item-iphone .iphone-item-info .iphone-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  padding: 3px 0;
  font-size: 0.9rem;
  color: grey;
  font-weight: lighter;
}
.iphone-container .item-iphone .iphone-item-info .iphone-description1 span, .iphone-container .item-iphone .iphone-item-info .iphone-description2 span, .iphone-container .item-iphone .iphone-item-info .iphone-description3 span, .iphone-container .item-iphone .iphone-item-info .iphone-price span {
  font-weight: lighter;
  font-size: 0.9rem;
}
.iphone-container .item-iphone .iphone-item-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.7rem;
}
.iphone-container .item-iphone .iphone-item-quantity .iphone-add-btn, .iphone-container .item-iphone .iphone-item-quantity .iphone-reduce-btn {
  width: 30px;
  height: 23px;
  margin: 0.1rem 0;
  font-size: 1.2rem;
  color: black;
  border-radius: 10px;
  background: none;
  border: none;
}
.iphone-container .item-iphone .iphone-item-quantity .iphone-inputBox {
  width: 30px;
  height: 20px;
  margin: 0.1rem 0;
}
.iphone-container .item-iphone .iphone-add-container {
  text-align: center;
  padding: 15px 0;
}
.iphone-container .item-iphone .iphone-add-container .iphone-add-btn {
  width: 200px;
  height: 40px;
  border: 0.5px solid gray;
  border-radius: 10px;
}
.iphone-container .item-iphone .iphone-add-container .iphone-add-btn .bi-cart-plus-fill {
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
